<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fossasia.openevent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".OpenEventApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar.Alternate"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TrackSessionsActivity"
            android:label="@string/title_section_tracks"
            android:theme="@style/AppTheme.NoActionBar.Alternate"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".activities.LocationActivity"
            android:label="@string/title_section_location"
            android:theme="@style/AppTheme.NoActionBar.Alternate"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
            android:name=".activities.SpeakerDetailsActivity"
            android:label="@string/title_section_speakerlist"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".activities.SessionDetailActivity"
            android:label="@string/session"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <service
            android:name=".services.BookmarkAlarmService"
            android:enabled="true" />

        <receiver android:name=".receivers.NotificationAlarmReceiver" />

        <receiver
            android:name=".widget.BookmarkWidgetProvider"
            android:enabled="true"
            android:label="Bookmarks">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="${applicationId}.ACTION_DATA_UPDATED" />
                <action android:name="${applicationId}.UPDATE_MY_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver android:name=".utils.NetworkUtils">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>

        </receiver>

        <service
            android:name=".widget.BookmarkWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>